body{
    font-family: 'Vollkorn', serif;
    background-color: #778899;}

a {
    text-decoration: none;}

  a:link {
    color: #000000;}

  a:visited {
    color: #000000;}

  a:active {
      color:#000000;}

header {
    text-align: center;
    font-size: 24px;
    font-family: 'Vollkorn', serif;
    text-transform: uppercase;
border-radius: 8px;
padding: 10px 10px 10px 10px;
background-color: rgb(112, 128, 144);}

 #mono-title{
    text-decoration-line: underline;}

* {
    box-sizing: border-box;
    font-family: 'Vollkorn', serif;}

.main-title{
    width: 100%;
    margin: 10px auto;
    background: rgb(66, 66, 66);
    color: white;
    padding:15px;
    text-align: center;
    font-size: 40px;
    font-family: 'Vollkorn', serif;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-color: #ffffff;}

.opisanie{
    width: 100%;
    margin: 10px auto;
    background: #ffffff;
    color: rgb(37, 37, 37);
    padding:15px;
    font-family: Georgia, serif;
    text-align: left;
    font-size: 18px;
    text-transform: none;
    border-radius: 8px;}

#opisanie-dostavka{
    font-weight: 600;
    text-align: center;}

ul{
    font-family: Georgia, serif;
    text-align: left;}

li{
font-family: Georgia, serif;}

 .novinki-wrap {
     width: 410px;
    margin: 10px 15px;
    background: white;
    padding:15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Vollkorn', serif;}

 .novinki {
    position: relative;
    overflow: hidden;}

 .novinki img {
    width: 380px;}

 #icon {
    width: 30px;
    text-align: center;}

 hr{
    border-radius: 5px;
    background-color: #778899;
    padding: 1px;
    width: 450px;
    margin: auto;}

 footer {
    text-align: center;
    font-size: 14px;
    font-family: 'Vollkorn', serif;
    text-transform: uppercase;
border-radius: 8px;
padding: 10px 10px 10px 10px;
background-color: rgb(112, 128, 144);
border: 2px solid #000000;}

 #footer{
    font-family: 'Vollkorn', serif;}

 .dropdown {
   position: relative;
   display: inline-block;}

.dropdown-content {
   display: none;
   position: absolute;
   max-width:150px;
   background-color: #000000;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 5;}

.dropdown-content a {
   color: black;
   padding: 12px 12px;
   text-decoration: none;
   display: block;}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}